table.word-table {
  margin: 0 auto;
  position: relative;
  left: 3em;
  /*width: 100%;*/
}

table.word-table tr {
  line-height: 2em;
}

table.word-table td {
  /*width: 50%;*/
  padding-left: 1em;
  padding-right: 1em;
}

table.word-table td:nth-of-type(even) {
  padding-left: 4em;
}

span.kword {
  font-weight: bold;
  color: #2aa198;
  font-size: 120%;
}

span.akword {
  font-weight: bold;
  color: #d33682;
  font-size: 120%;
}

span.bered {
  color: red;
}

span.beblue {
  color: steelblue;
}

span.subtle-text {
  color: #93a1a1;
}

div.quotee {
  display: block;
  position: relative;
  width: 70%;
  padding-top: 10px;
  text-align: right;
  font-size: 80%;
}

/**
  * Sam Styling
**/

.gr-large {
  width: 61.8046972%;
  float: left;
}

.gr-small {
  width: 38.1953028%;
  float: right;
}

.half {
  width: 50%;
  float: left;
}

#braiding img {
  margin-top: 0;
}

.reveal blockquote {
  background: none;
  text-align: right;
  box-shadow: none;
  border-right: .075em solid;
  padding-right: .75em;
  font-style: italic;
}

.reveal blockquote strong {
  text-decoration: underline;
}

.reveal blockquote footer {
  font-size: .75em;
}

.reveal ul,
.reveal ol {
  margin-top: .5em;
  margin-bottom: .5em;
}

body {
  margin-top: 0 !important;
}

.complexity .state-background {
  background: url('../img/tendril.jpg');
  background-size: cover;
}

.over-image {
    color: white;
}
